#intro {
  margin: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
  border: 1px solid black;
  border-radius: 3px;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
}

textarea {
  margin: 10px;
}

button {
  display: block;
}

#cash-text {
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
}

.cash-entry {
  display: flex;
  align-items: center;
}
